body {
	background-color:#d7d7d7;
}

#centered {
	display:block;
	top:25%;
	width:50%;
	text-align:center;
	border:0px;
	padding:15%;
	margin:0 auto;
}

#copyright {
	font-family: 'Julius Sans One', sans-serif;
	position: fixed;
	bottom: 5%;
	left: 50%;
}
#copyright {
	font-family: 'Julius Sans One', sans-serif;
	position: fixed;
	bottom: 5%;
	left: 50%;
}
