body {
	background-color:#d7d7d7;
}

#centered {
	display:block;
	top:50%;
	width:50%;
	text-align:center;
	border:0px;
	padding:15%;
	margin:0 auto;
}

.copyright {
	position: inherit;
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	bottom: 3%;
}
