body {
	background-color:#d7d7d7;
}

#centered {
	display:block;
	top:50%;
	width:50%;
	text-align:center;
	border:0px;
	padding:15%;
	margin:0 auto;
}

.copyright {
	position: inherit;
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	bottom: 0%;
}

::-webkit-scrollbar-thumb:vertical {
	background-color:transparent;
	height:100px;
}
::-webkit-scrollbar-thumb:horizontal {
	background-color:transparent;
	height:5px !important;
}
::-webkit-scrollbar {
	height:5px;
	width:5px;
	background-color:transparent;
}
